<!-- Page Content -->
<div class="container">
  <div class="row text-center">
    <h4>Hello world! Welcome to Angular 2 Webpack Starter</h4>
    <br>
      <h5><em>This is the basic CRUD Example</em></h5>
    <br>
    <hr>
    <h5><em>My name is Quang Nguyen Phu</em></h5>
    <br>
    <h5><em>DOB: 10-Sep-1990</em></h5>
    <br>
    <h5><em>Email: nguyenphuquang90@gmail.com</em></h5>
    <br>
    <button (click)="GotoEmployee()" class="btn btn-primary">Go to employees CRUD Example</button>
    <router-outlet></router-outlet>
  </div>
  <hr>
</div>
<!-- /.container -->
