<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <a (click)="Home()" class="btn btn-default">Home</a>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <a [routerLink]="['/employee-add']" class="btn btn-success">Add new</a>
  </div>
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 pull-right">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <input type="text" [(ngModel)]="keyword" name="keyword" />
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <button (click)="Search()" class="btn btn-primary">Search</button>
    </div>
  </div>

</div>
<table class="table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Age</td>
      <td>Status</td>
      <td>Created At</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.name}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.status}}</td>
      <td>{{employee.createdAt | date}}</td>
      <td>
        <a [routerLink]="['/employee-detail',employee.id]" class="btn btn-primary">Show Detail</a>
        <a [routerLink]="['/employee-edit',employee.id]" class="btn btn-primary">Edit</a>
        <button (click)="Delete(employee.id)" class="btn btn-danger">Delete</button>

      </td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li *ngFor="let page of pages"><a [routerLink]="['/employees']" [queryParams]="{pageNumber:page,filter:'a'}">{{page}}</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
